body {
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

.square {
    width: 50%;
    height: 33.33%;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 40px;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    background: red;
}

.orange {
    background: orange;
}

.yellow {
    background: yellow;
}

.green {
    background: green;
}

.blue {
    background: blue;
}

.purple {
    background: purple;
}

@media screen and (min-width: 600px) {
    .square {
        width: 33.33%;
        height: 50%;
    }
}